<div id="card">
   <div id="inside">
    <header>
        <div class="left">
         <div id="name">My Monster</div>
        </div>
        <div class="right">
            <div id="hp">40 HP</div>
        </div>
        <img class="icon-energy" src="public/assets/img/p1.jpeg">
    </header>
    <figure id="art">
        <img src="../assets/img/p2.jpeg">
    </figure>
    <div id="capacites">
        <div class="capacity">
            <div class="main">
                <img class="icon-energy" src="../assets/img/p3.jpeg">
                <img class="icon-energy" src="../assets/img/p4.jpeg">
            </div>
            <div class="name">Geo impact</div>
            <div class="damage">60</div>
        </div>
    </div>
    <div class="description">
        this is a long description of *********
    </div>
   </div>
</div>
